<div class="flexContainer">
  <section>
    <h2>
      Test Result
    </h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
       Quo velit laudantium cum similique debitis. Magni aliquid nobis dolorem quae soluta,
       laudantium dolor nostrum deserunt quisquam dignissimos esse, aut error veniam?
    </p>
  </section>
  <section >
    <h2>
      Last Appeared Exam
    </h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
       Quo velit laudantium cum similique debitis. Magni aliquid nobis dolorem quae soluta,
       laudantium dolor nostrum deserunt quisquam dignissimos esse, aut error veniam?
    </p>
  </section>
  <section >
    <h2>
      Upcoming Exams
    </h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
       Quo velit laudantium cum similique debitis. Magni aliquid nobis dolorem quae soluta,
       laudantium dolor nostrum deserunt quisquam dignissimos esse, aut error veniam?
    </p>
  </section>
</div>
